body {
  font: 14px NeueHaasUnicaPro-Regular, Arial, Helvetica, sans-serif;
  background-color: #40404a;
  color: #ffffff; }

a {
  color: #76d3ff; }

a:focus, a:hover {
  color: #70cefb; }

.FFQuadraatWebDemiBold {
  font-family: FFQuadraatWebDemiBold; }

.FFQuadraatWebBold {
  font-family: FFQuadraatWebBold; }

.FFQuadraatWeb {
  font-family: FFQuadraatWeb; }

.NeueHaasUnicaPro-Bold {
  font-family: NeueHaasUnicaPro-Bold; }

.NeueHaasUnicaPro-Black {
  font-family: NeueHaasUnicaPro-Black; }

.NeueHaasUnicaPro-Regular {
  font-family: NeueHaasUnicaPro-Regular; }

.synistralia-navbar {
  background-color: #1ca2e1;
  background-image: none; }

.navbar-inverse .navbar-brand {
  color: white;
  font-family: FFQuadraatWebDemiBold; }

.navbar-inverse .navbar-brand:hover {
  text-decoration: underline; }

.navbar-inverse .navbar-toggle {
  background-color: #40404a;
  color: white; }

.navbar-inverse .navbar-nav > .active > a {
  background-color: #1ca2e1;
  background-image: none;
  color: white;
  box-shadow: none; }

h1, h2 {
  font-family: NeueHaasUnicaPro-Black, Arial, Helvetica, sans-serif; }

h3, h4, h5 {
  font-family: NeueHaasUnicaPro-Bold, Arial, Helvetica, sans-serif; }

b, strong {
  font-family: NeueHaasUnicaPro-Bold, Arial, Helvetica, sans-serif;
  font-weight: normal; }

.features-text {
  font-family: NeueHaasUnicaPro-Bold;
  font-size: 150%; }

@media (min-width: 993px) {
  .center-medium {
    text-align: left; } }

@media (max-width: 992px) {
  .center-medium {
    text-align: center; } }

.features-detail-text {
  font-size: 125%; }

.features-card {
  /*border: 1px solid black;
	border-radius: 10px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f7f4ea;
  padding: 10px;
  border-radius: 10px; }

.feature-section {
  padding: 20px;
  margin-left: 0;
  margin-right: 0; }

.feature-section-odd {
  background: #1ca2e1;
  color: #fff;
  padding-top: 10px; }

.feature-section-odd > div > div > p > .btn-primary {
  background: #fff;
  color: #1ca2e1; }

.feature-section-odd > div > div > p > a {
  color: #fadf00;
  text-decoration: underline; }

.feature-section-odd > div > div > p > a:hover {
  color: #fff6a7; }

.feature-section-odd > div > div > p > .btn-primary.active {
  background: #fff;
  color: #1ca2e1; }

.feature-section-odd > div > div > ul > li > a {
  color: #fff; }

.features-image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.address-block {
  margin-top: 20px; }

.resume-portrait {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto; }

.position-title {
  margin-left: 20px;
  text-decoration: underline;
  font-family: NeueHaasUnicaPro-Black; }

.position-detail {
  padding: 10px;
  margin: 10px;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 10px 10px 15px #000; }

.resume-row {
  margin-right: 5px; }

.btn-primary {
  background-color: #1ca2e1;
  background-image: none;
  font-family: NeueHaasUnicaPro-Bold;
  color: white; }

.btn-primary:hover {
  background-color: #70cefb;
  background-image: none; }
