body {
  font: 14px "FFQuadraat", "Times New Roman", serif;
  background-color: #606060;
  color: #ffffff;
}

a {
  color: #1ca2e1;
}

.FFQuadraatWebDemiBold { font-family: FFQuadraatWebDemiBold; }
.FFQuadraatWebBoldItalic { font-family: FFQuadraatWebBoldItalic; }
.FFQuadraatWebBold { font-family: FFQuadraatWebBold; }
.FFQuadraatWebDemiBoldItalic { font-family: FFQuadraatWebDemiBoldItalic; }
.FFQuadraatWebItalic { font-family: FFQuadraatWebItalic; }
.FFQuadraatWeb { font-family: FFQuadraatWeb; }

h1, h2, h3, h4, h5 {
  font-family: FFQuadraatWebBold;
}

.features-text {
	font-family: FFQuadraatWebBold;
	font-size: 150%;
}

@media (min-width: 993px) {
	.center-medium {
		text-align:left;
	}
}

@media (max-width: 992px) {
	.center-medium {
		text-align:center;
	}
}

.features-detail-text {
	font-size: 125%;
}

.features-card {
	/*border: 1px solid black;
	border-radius: 10px;*/
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f7f4ea;
	padding: 10px;
    border-radius: 10px;
}

.feature-section {
	padding: 20px;
	margin-left: 0;
	margin-right: 0;
}

.feature-section-odd {
    background: #1ca2e1;
    color: #fff;
    padding-top: 10px;
}

.feature-section-odd > div > div > p > .btn-primary {
	background: #fff;
	color: #1ca2e1;
}

.feature-section-odd > div > div > p > .btn-primary.active {
	background: #fff;
	color: #1ca2e1;
}

.feature-section-odd > div > div > ul > li > a {
	color: #fff;
}

.features-image {
	width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
